<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${TituloPagina}"></title>
<link rel="stylesheet" href="/css/estilos.css"  >
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css"  >
<script src="/boostrap/bootstrap.jquery.slim.min.js"></script>
<script src="/boostrap/bootstrap.bundle.min.js"></script>
</head>
<body class="container">

<h1 th:text="${titulo}"></h1>
     <hr>
     <div>
         <ul th:each= "personaje: ${listita}">
             <li th:text = "${personaje.nombres}"></li>
             <li th:text = "${personaje.alias}"></li>
             <li th:text = "${personaje.tipoFruta}"></li>
             <li th:text = "${personaje.habilidad}"></li>
             <li th:text = "${personaje.tripulacion}"></li>
             <li th:text = "${personaje.recompensa}"></li>
         </ul>
     </div>
</body>
</html>